.footer {
	flex: 0 0 auto;
	min-width: 320px;
	overflow: hidden;
	background-color: #dadada;
	background: yellow;
}

.footer__container {
	display: flex;
	min-height: 80px;
	background: green;
}

.footer__copyright {
	font-family: $font_toyotatext;
	font-size: 14px;
	font-weight: 500;
	color: rgba($color_silver, .5);
	background: red;
}