//fonts
$font_ptsans: 'PT Sans', sans-serif;
$font_toyotatext: 'Toyota Text', sans-serif;
$font_toyotadisplay: 'Toyota Display', sans-serif;


// colors
$color_red: #e50000;
$color_silver: #333333;
$color_light_silver: #f0f0f0;

//sizes
$width_container: 1200px;